/* Navigation.css */
nav {
    background-color: #9CC1D7;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: #97ABB1
  }
  